<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Chart</title>
</head>
<body>
    <h1>Real-Time Chart</h1>
    <img id="chart" src="" alt="Generated Chart">
    <script>
        const chartImg = document.getElementById('chart');
        const socket = new WebSocket('ws://' + window.location.host + '/ws/filtration/');
        
        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            chartImg.src = 'data:image/png;base64,' + data.chart;
        };

        socket.onopen = function() {
            socket.send(JSON.stringify({}));
        };

        socket.onclose = function(e) {
            console.error('Socket closed unexpectedly');
        };
    </script>
</body>
</html>
