{% extends 'layouts/app.html' %}

{% block title %}Оптимизация расчетов{% endblock %}

{% block content %}
{% load static %}

<section class="content">
    <div class="box box-primary">
        <!-- I. Халқаро bo'limi -->
        <div class="box-header">
            <h3 class="box-title">Международные диссертации</h3>
        </div>
        <div class="box-body">
            <ul>
                <li>Makhmudov J.M., Usmonov A.I., Kuljanov J.B., Zokirov M.S., Numerical solution of the anomalous
                    filtration
                    problem in a nonhomogeneous porous medium. Modern problems of Mathematics and Mechanics. ISBN 978 -
                    9952
                    -
                    37 - 828-3. April 26 - 28, 2023 Baku, Azerbaijan. 266 bet. <br>
                    <a href="{% static 'files/xalqaro1.pdf' %}" class="btn btn-primary" target="_blank"> <i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
                <li>Хужаёров Б.Х., Джиянов Т.О., Зокиров М.С., Моделирование фильтрации аномальных нефтей в пористых
                    средах
                    //
                    Технологии разработки месторождений и моделирование процессов в нефтегазодобыче, Сборник тезисов
                    Международной научно-практической конференции, посвященной памяти академика А. X. Мирзаджанзаде
                    24-27
                    августа 2023 года. <br>
                    <a href="{% static 'files/xalqaro2.pdf' %}" class="btn btn-primary" target="_blank"> <i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
                <li>Khuzhayorov B., Dzhiyanov T, Zokirov M., Generalized relaxational fractional differential model of
                    fluid
                    filtration in a porous medium // Abstracts of the VII World Congress of Turkic World Mathematicians
                    (TWMS
                    Congress-2023), September 20-23, 2023, Turkestan, Kazakhstan. <br>
                    <a href="{% static 'files/xalqaro3.pdf' %}" class="btn btn-primary" target="_blank"> <i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
                <li>Хужаёров Б., Джиянов Т.О., Зокиров М.С., Ражаббоев Ш.Ш. Дробно-дифференциальная модель
                    упруговязкопластичной
                    фильтрации // “Hisoblаsh modellаri vа texnologiyalаri” (CMT2024) professor M.I. Isroilov
                    tavalludining
                    90
                    yilligiga bag‘ishlangan uchinchi xalqaro konferensiya materiallri. Toshkent, 2024. 46-48 b. <br>
                    <a href="{% static 'files/xalqaro4.pdf' %}" class="btn btn-primary" target="_blank"> <i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Республика диссертации</h3>
        </div>
        <div class="box-body">
            <ul>
                <li>Зокиров М.С., Абдурахмонов М.С., Раупов С.Б., Релаксациенная дробно-дифференциальная модель
                    фильтрации
                    однородной жидкости в пористой среде // Aлгебра ва анализнинг долзарб масалалари мавзусидаги
                    республика
                    илмий-амалий анжумани. Termiz, 2022-yil 18-19-noyabr.
                    <br><a href="{% static 'files/1.pdf' %}" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>

                </li>
                <li>Зокиров М., Тураев Ф., Мардаев С. Релаксациенная дробно-дифференциальная модель фильтрации
                    однородной
                    жидкости в
                    пористой среде. Abstracts of the II republican scientific and practical conference of young
                    scientists
                    mathematics, mechanics and intellectual technologies Tashkent-2023, 28-29 march 2023, 170-bet.
                    <br><a href="{% static 'files/2.pdf' %}" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
                <li>Джиянов Т.О., Зокиров М.С., Релаксационная модель фильтрации жидкости в пористой среде // Ali Qushji
                    -
                    an
                    outstanding ambassador of the scientific school of ulugh beg celebrating the 620 th anniversary of
                    ali
                    qlishji's
                    birth international conference September 21-22, 2023 Samarkand, Uzbekistan.
                    <br><a href="{% static 'files/3.pdf' %}" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
                <li>Dzhiyanov T.O., Zokirov M.S., Mamatov Sh.S., Relaxational fractional differential model of fluid
                    filtration in a
                    porous medium // Аbstracts of the 8th international conference “actual problems of applied
                    mathematics
                    and
                    information technologies” - Аl-Khwarizmi September 25-26, 2023 SamSU, Samarkand, Uzbekistan.
                    <br><a href="{% static 'files/4.pdf' %}" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>

                </li>
                <li>Хужаёров Б.Х., Джиянов Т.О., Зокиров М.С., Холдорова З.Р. Обобщенная релаксационная
                    дробнодифференциальная
                    модель фильтрации жидкости в пористой среде // Материалы Республиканской научно-практической
                    конференции
                    “Перспективы внедрения цифровых технологий и искусственного интеллекта в образовательный процесс”
                    7-июня
                    2024
                    г., г. Термиз. С. 344-347.
                    <br><a href="{% static 'files/5.pdf' %}" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> &ensp; Скачать
                        PDF-файл</a>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}